extends layout 

block content
    pre= JSON.stringify(car, null, 2)
    .product-field
        .product-left
            .product-image
                if carImages && carImages.length
                    img(src=carImages[0], alt=`picture of ${car.fullName}`)
                else
                    p No image available
            .product-thumbnails
                if carImages && carImages.length
                    each image in carImages
                        img(src=image, alt=`thumbnail of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${image}')`)

        .product-right
            .name
                p= car.fullName
            .seen-in
                p= car.movie
                p= car.year
            .description 
                p= car.description
            .price
                p= car.price
            .button 
                button(type="button", onclick=`addToCart('${car.shortName}')`) Add to Cart
    .see-also
        p You may also enjoy...
