extends layout 

block content
    - const [img1, img2, img3, img4] = car.images || []
    //- debug line to check car object contents:
    //- pre= JSON.stringify(car, null, 2)
    .product-field
        .product-left
            .product-image
                if img1
                    img#mainProductImage(src=img1, alt=`picture of ${car.fullName}`)
                else
                    p No image available
            .product-thumbnails
                if img1
                    img(src=img1, alt=`thumbnail 1 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img1}')`)
                if img2
                    img(src=img2, alt=`thumbnail 2 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img2}')`)
                if img3
                    img(src=img3, alt=`thumbnail 3 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img3}')`)
                if img4
                    img(src=img4, alt=`thumbnail 4 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img4}')`)

        .product-right
            .name
                p= car.fullName
            .seen-in
                p
                | seen in: 
                b #{car.movie}
                | , #{car.year}
            p.description= car.description
            p.price $#{car.price.toLocaleString()}
            .button 
                button(type="button", onclick=`addToCart('${car.car_name}', ${car.price})`) Add to Cart

block scripts
    script.
        function changeMainImage(src) {
            var mainImg = document.getElementById('mainProductImage');
            if (mainImg) {
                mainImg.src = src;
            }
        }

        function addToCart(car_name, price) {
            const formData = new URLSearchParams();
            formData.append('car_name', car_name); // <-- use car_name
            formData.append('price', price);

            fetch('/cart/add', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: formData,
                credentials: 'same-origin'
            })
            .then(res => {
                if (res.redirected) {
                    window.location = res.url;
                } else {
                    alert('Added to cart!');
                }
            });
        }


