extends layout 

block content
    - const [img1, img2, img3, img4] = car.images || []
    //- debug line to check car object contents:
    //- pre= JSON.stringify(car, null, 2)
    .product-field
        .product-left
            .product-image
                if img1
                    img#mainProductImage(src=img1, alt=`picture of ${car.fullName}`)
                else
                    p No image available
            .product-thumbnails
                if img1
                    img(src=img1, alt=`thumbnail 1 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img1}')`)
                if img2
                    img(src=img2, alt=`thumbnail 2 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img2}')`)
                if img3
                    img(src=img3, alt=`thumbnail 3 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img3}')`)
                if img4
                    img(src=img4, alt=`thumbnail 4 of ${car.fullName}`, class="thumbnail", onclick=`changeMainImage('${img4}')`)

        .product-right
            .name
                p= car.fullName
            .seen-in
                p
                | seen in: 
                b #{car.movie}
                | , #{car.year}
            .description 
                p= car.description
            .price
                p $#{car.price.toLocaleString()}
            .button 
                button(type="button", onclick=`addToCart('${car.shortName}')`) Add to Cart
    .see-also
        p You may also enjoy...

block scripts
    script.
        function changeMainImage(src) {
            var mainImg = document.getElementById('mainProductImage');
            if (mainImg) {
                mainImg.src = src;
            }
        }


